#searchBar {
  background-image: url("src\assets\iconfinder_Rounded-10_2024633.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 3px;
  background-position-x: 3px;
  padding-left: 40px;
  max-width: 800px;
}

.searchBg {
  background-color: gray;
  padding-bottom: 20px;
}

.toggle-block:after {
  content: "";
  clear: both;
  display: table;
}

.thumbnail {
  float: left;
  width: 2%;
  padding: 5px;
}

.selected {
  background: #a6a6a6;
}

.btn {
  background: #a6a6a6;
}
